---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
  <div class="relative z-10 px-8 lg:px-18">
    <h1
      class="mb-4 text-2xl font-bold text-light-text-heading lg:mb-6 lg:text-5xl dark:text-white"
    >
      Get in touch
    </h1>

    <p class="mb-8">
      Have a question for us or a topic you would like us to cover on the show?
      Reach out here and we'll be in touch soon!
    </p>
    <div class="mt-8 flex justify-center pb-16">
      <a href="mailto:lwu@curtainlorimer.com">
          <button class="btn">
            <span class="rounded-full px-8 py-4 text-center text-sm text-light-text-heading dark:text-white">
              Email Lex
            </span>
          </button>
        </a>
        </div>
  </div>
</Layout>
